# CakePHP 3

/mysql/*
/vendor/*
/config/app.php

cakephp/tmp/*
cakephp/tmp/cache/models/*
!cakephp/tmp/cache/models/empty
cakephp/tmp/cache/persistent/*
!cakephp/tmp/cache/persistent/empty
cakephp/tmp/cache/views/*
!cakephp/tmp/cache/views/empty
cakephp/tmp/sessions/*
!cakephp/tmp/sessions/empty
cakephp/tmp/tests/*
!cakephp/tmp/tests/empty
cakephp/logs/error.log
/logs/*
!/logs/empty

# Docker File Cake PHP
cakephp/Config/core.php
cakephp/Config/database.php
cakephp/logs
cakephp/logs/error.log
cakephp/vendor/*
cakephp/vendor/composer/*


