# CakePHP 3

/mysql/*
/vendor/*
/config/app.php

cakephp/tmp/cache/models/*
!cakephp/tmp/cache/models/empty
cakephp/tmp/cache/persistent/*
!cakephp/tmp/cache/persistent/empty
cakephp/tmp/cache/views/*
!cakephp/tmp/cache/views/empty
cakephp/tmp/sessions/*
!cakephp/tmp/sessions/empty
cakephp/tmp/tests/*
!cakephp/tmp/tests/empty

/logs/*
!/logs/empty

# CakePHP 2

/cakephp/tmp/*
/cakephp/Config/core.php
/cakephp/Config/database.php
/vendors/*
/cakephp/logs